# Udacity Intro to ML
## Lesson 4.16 Decision Trees: Calculating Information Gain

In [28]:
import pandas as pd
import numpy as np

dataset = pd.read_csv('ml-bugs.csv')
dataset.columns
print(dataset.head())
dataset['Species'].value_counts()

  Species Color  Length (mm)
0   Mobug  Blue         13.1
1   Lobug  Blue         14.5
2   Mobug  Blue         14.6
3   Lobug  Blue         15.1
4   Mobug  Blue         16.3

Lobug    14
Mobug    10
Name: Species, dtype: int64

In [22]:
filter_blue = dataset['Color'].str.contains('Blue')
blue_dataset = dataset[filter_blue]
#blue_dataset['Species'].value_counts().to_frame().reset_index().sort_values('Species', ascending=False)
print(blue_dataset['Species'].value_counts())
dataset[filter_blue].sort_values('Species')

Lobug    6
Mobug    4
Name: Species, dtype: int64

  Species Color  Length (mm)
1   Lobug  Blue         14.5
3   Lobug  Blue         15.1
5   Lobug  Blue         18.4
7   Lobug  Blue         20.5
8   Lobug  Blue         21.0
9   Lobug  Blue         22.9
0   Mobug  Blue         13.1
2   Mobug  Blue         14.6
4   Mobug  Blue         16.3
6   Mobug  Blue         19.2

In [23]:
not_blue_dataset = dataset[~filter_blue]
print(not_blue_dataset['Species'].value_counts())
not_blue_dataset.sort_values('Species')

Lobug    8
Mobug    6
Name: Species, dtype: int64

   Species  Color  Length (mm)
12   Lobug  Brown         14.1
14   Lobug  Brown         17.1
16   Lobug  Green         17.9
17   Lobug  Green         18.6
18   Lobug  Green         18.8
21   Lobug  Green         22.7
22   Lobug  Green         23.7
23   Lobug  Green         24.8
10   Mobug  Brown         11.6
11   Mobug  Brown         13.8
13   Mobug  Brown         15.7
15   Mobug  Brown         18.2
19   Mobug  Green         19.9
20   Mobug  Green         21.2

In [4]:
def two_group_ent(first, tot):                        
    return -(first/tot*np.log2(first/tot) +           
             (tot-first)/tot*np.log2((tot-first)/tot))

In [5]:
# for total entropy, lobug=14, Mobug=10, tot=24
tot_ent = two_group_ent(14, 24)
print(tot_ent)

0.9798687566511528

In [6]:
g17 = two_group_ent(11, 15)
print(g17)

l17 = two_group_ent(6, 9)
print(l17)

0.8366407419411672
0.9182958340544896

In [19]:
# for color = brown, lobug=2, Mobug=4, brown_tot=6
# for remaining colors, lobug=14-2=12, Mobug=10-4=6, non_brown_tot=18
brown_ent = 18/24 * two_group_ent(12, 18) + 6/24 * two_group_ent(4, 6) 
print('brown_ent:', brown_ent)
print('tot_ent - brown_ent:', tot_ent - brown_ent)
print()

# for color = blue, lobug=6, Mobug=4, blue_tot=10
# for remaining colors, lobug=14-6=8, Mobug=10-4=6, non_blue_tot=14
blue_ent = 10/24 * two_group_ent(6, 10) + 14/24 * two_group_ent(8, 14) 
print('blue_ent:', blue_ent)
print('tot_ent - blue_ent:', tot_ent - blue_ent)
print()

# for color = green, lobug=6, Mobug=2, green_tot=8
# for remaining colors, lobug=14-6=8, Mobug=10-2=8, non_green_tot=16
green_ent = 8/24 * two_group_ent(6, 8) + 16/24 * two_group_ent(8, 16) 
print('green_ent:', blue_ent)
print('tot_ent - green_ent:', tot_ent - green_ent)
print()

# for len < 17, lobug=3, Mobug=6, g17_tot=9
# for remaining, lobug=14-3=11, Mobug=10-6=4, non_g17_tot=15
len_less_than_17_ent = ((15/24) * two_group_ent(11, 15)) + ((9/24) * two_group_ent(6, 9)) 
print('len_less_than_17_ent', len_less_than_17_ent)
print('tot_ent - len_less_than_17_ent:', tot_ent - len_less_than_17_ent)
print()

# for len < 20, lobug=8, Mobug=9, g20_tot=17
# for remaining, lobug=14-8=6, Mobug=10-9=1, non_g20_tot=7
len_less_than_20_ent = ((17/24) * g17) + ((9/24) * l17) 
len_less_than_20_ent = ((17/24) * two_group_ent(9, 17)) + ((7/24) * two_group_ent(6, 7)) 
print('len_less_than_20_ent', len_less_than_20_ent)
print('tot_ent - len_less_than_20_ent:', tot_ent - len_less_than_20_ent)

brown_ent: 0.9182958340544896
tot_ent - brown_ent: 0.06157292259666325

blue_ent: 0.979279160376092
tot_ent - blue_ent: 0.000589596275060833

green_ent: 0.979279160376092
tot_ent - green_ent: 0.042776048498108565

len_less_than_17_ent 0.867261401483663
tot_ent - len_less_than_17_ent: 0.11260735516748976

len_less_than_20_ent 0.8791355307646356
tot_ent - len_less_than_20_ent: 0.10073322588651723

In [ ]:
#Conclusion Highest Information gain is with len_less_than_17_ent